.container {}

.conversationItem {
    display: flex;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 10px;
}

.conversationItem:hover {
    background: #ededed;
}

.imgAvatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.left {
    width: 30%;
    height: 88vh;
    overflow-y: scroll;
    padding-right: 10px;

}

.right {
    width: 70%;
    position: relative;
}

.headerChat {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    height: 10%;
}

.chatZone {
    height: calc(78%);
    /* height: 85%; */
    overflow-y: auto;
}